body {
  margin: 0;
  font-family: "BIZ UDゴシック","UD Shin Go NT Light JIS2004","UD デジタル 教科書体 N-R", Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:white;
}

* {
  box-sizing: border-box;
}

.notepad {
  resize:none;
  position:absolute;
  top:20px;
  min-height:300px;
  bottom:100px;
}

.chat-logs {
  position:absolute;
  top:20px;
  min-height:300px;
  bottom:100px;
  border:1px solid black;
  overflow: scroll;
}

.chat-logs-post {
  padding: 4px;
}

.chat-logs-post:nth-child(even) {
  background-color:azure;
}

.chat-logs-post-name {
  font-weight: bold;
}

.chat-logs-post-content {
  white-space:pre-wrap;
}

.inputArea {
  position:absolute;
  top:20px;
  min-height:300px;
  bottom:100px;
  padding:8px;
  border:1px solid black;
}

.inputArea-explanation {
  position:relative;
  top:-4px;
  font-size:50%;
}

.inputArea-content {
  position:absolute;
  top:56px;
  bottom:0px;
  left:0px;
  right:0px;
  padding: 8px;
}

.inputArea-content-input {
  resize:none;
  margin:auto;
  width:100%;
  height:100%;
}

.systemList {
  position:absolute;
  top:0px;
}

footer {
  position:absolute;
  bottom:0px;
  height:100px;
  width:100%;
  padding:8px;
  font-size:50%;
}